<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/fonts/pagella/texgyrepagella-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/pagella/texgyrepagella-bold.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="/style.css">
    <title>
      {% if title %}
        {{ title }} · Edvard Aksnes
      {% else %}
        Edvard Aksnes
      {% endif %}
    </title>

  </head>
  <body>{{ content | safe }}</body>
</html>
